* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

a {
  text-decoration: none;
}

html, body {
  height: 100vh;
}

body {
  position: relative;
}

.toast {
  position: absolute;
  background-color: #6a6454;
  vertical-align: middle;
  border-radius: 50px;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
}

.toast p {
  color: #ffffff;
  font-size: 14px;
}

.toast img {
  width: 16%;
}

.toast.error img {
  width: 9%;
}

.dropdown .dropdown-menu {
  width: 100%;
}

.dropdown-menu {
  max-height: 50vh;
  overflow: scroll;
  min-width: 0;
  text-align: center;
}

.border-left-primary {
  border-left: .25rem solid #00e5a6 !important;
}

.border-right-primary {
  border-right: .25rem solid #00e5a6 !important;
}

.border-left-success {
  border-left: .25rem solid #ffc82c !important;
}

.border-right-success {
  border-right: .25rem solid #ffc82c !important;
}

.border-left-info {
  border-left: .25rem solid #c5b8b8 !important;
}

.data-table tr th {
  font-size: 3vw;
}

.data-table tr td {
  font-size: 3vw;
  vertical-align: middle;
}

tr td {
  text-align: center;
}

.merchants-table td:first-child {
  width: 70%;
  vertical-align: middle;
}

.merchants-table td:last-child {
  width: 30%;
}

.merchant-signout {
  color: #000000;
  position: absolute;
  right: 5%;
  bottom: 5%;
}

/* Flip Cards */

.flip-card {
  height: 114px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card .flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

#wrapper #content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  overflow-x: hidden;
  height: 100vh;
}

.print-btn {
  position: absolute;
  right: 5%;
  bottom: 5%;
  border: 0;
  font-weight: 600;
  font-size: 14px;
  border-radius: 12px;
}

.far.fa-eye-slash, .far.fa-eye {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sidebar {
  width: 5rem;
}

.sidebar .nav-item .nav-link {
  width: 5rem;
}

